doctype html
html
    head
        title="Google Authorisation App"
    body
        include ./header.pug
        div.welcome
          h1 Sorry!
          h2 Page does not exist
        a.log-in#log-in(href="/main") Log in
        include ./footer.pug