doctype html
html
    head
        title="Error!"
    body
        include ./header.pug
        div.welcome
          h1.error Sorry!
          h2 Page does not exist!
        a.log-in#okay(href="/main") Okay!
        include ./footer.pug