doctype html
html
    head
        title="Google Authorisation App"
    body
        include ./header.pug
        div.welcome
          h1 Put your data below
          h2 (just click the button)
        a.log-in#logged(href="logged") Okay!
        include ./footer.pug