doctype html
html
    head
        title="Google Authorisation App"
    body
        include ./header.pug
        div.welcome
          h1 Success!
          h2 You are here :-)
        a.log-in#log-in(href="/main") Okay!
        include ./footer.pug