doctype html
html
    head
        title="Google Authorisation App"
    body
        include ./header.pug
        div.welcome
          h1 Welcome to Google Authorisation App!
          h2 You need to log in to continue
        a.log-in#log-in(href="/log-in") Log in
        include ./footer.pug